body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    background-color: rgba(52,53,58,255);
    color: white;
}

<!-------Navbar-------->
#navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#navbar-nav {
    font-size: 18px;
}

.nav-link {
    color: white;
    padding: 2px;
    border: 2px solid transparent;
}

.nav-link:hover {
    color: rgba(240,191,108,255);
    transition: 1s;
}
#login-button:hover {
    color: white;
    background-color: #0d6efd;
    transition: .1s;
    border: 1px solid #0d6efd;
}

#menu-button {
    border: 1px solid transparent;
}
#menu-button:hover {
    border: 1px solid black;
}
#menu-button:focus {
    border: 1px solid blue;
}


/* ----------------Home----------------- */
#home {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    color: rgba(240,191,108,255);
}

#home button {
    border-color: rgba(240,191,108,255);
    color: rgba(240,191,108,255);
}
#home button:hover {
    background-color: rgba(240,191,108,255);
    color: rgba(52,53,58,255);
}

#span1 {
    font-size: 30px;
}
#span2 {
    font-size: 70px;
}
#span3 {
    font-size: 30px;
}


/* ------------------Skills--------------- */
#skills {
    min-height: 100vh;
}

/* #skill-image img {
    padding: 20px;
    width: 8rem;
}

#skills .img-border {
    border: 1px solid white;
} */

#skills .skill-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 220px;
    background-color: rgba(61,62,66,255);
    border: 1px solid rgba(240,191,108,255);
    border-radius: 20px;
}
#skills .skill-box:hover {
    background-color: rgba(240,191,108,255);
    /* color: rgba(61,62,66,255); */
}
.skill-box img {
    width: 7rem;
}

/* ------------------Projects------------- */

#projects {
    min-height: 100vh;
}

#heading-projects {
    top: 0px;
}

.inner {
    overflow: hidden;
}

.card img:hover {
    transform: scale(1.5);
    transition: 1s;
}

/* ---------Contact----------- */
#contact {
    min-height: 80vh;
}

.social-links {
    width: 400px;
    height: 70px;
    /* border: 1px solid black; */
    border-radius: 10px;
    overflow: hidden;
}

.social-links img {
    /* margin: auto; */
    width: 50px;
}

#footer {
    min-height: 0vh;
    background-color: grey;
    width: auto;
    height: auto;
    text-align: center;
    padding: 50px;
    color: white;
}

#footer a {
    text-decoration: none;
    color: white;
}