body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
}

<!-------Navbar-------->
/* #navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
} */

#navbar-nav {
    font-size: 18px;
}

.nav-link {
    color: black;
    padding: 2px;
    border: 2px solid transparent;
}

.nav-link:hover {
    color: grey;
    transition: 1s;
}
#login-button:hover {
    color: white;
    background-color: #0d6efd;
    transition: .1s;
    border: 1px solid #0d6efd;
}

#menu-button {
    border: 1px solid transparent;
}
#menu-button:hover {
    border: 1px solid black;
}
#menu-button:focus {
    border: 1px solid blue;
}


/* ----------------Home----------------- */
#home {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#span1 {
    font-size: 30px;
}
#span2 {
    font-size: 70px;
}
#span3 {
    font-size: 30px;
}


/* ------------------Skills--------------- */
#skills {
    min-height: 100vh;
}

#skill-image img {
    width: 10rem;
}


/* ------------------Projects------------- */

#projects {
    min-height: 100vh;
}

#heading-projects {
    top: 0px;
}

.inner {
    overflow: hidden;
}

.card img:hover {
    transform: scale(1.5);
    transition: 1s;
}

/* ---------Contact----------- */
#contact {
    min-height: 100vh;
}

